tmp/*
.DS_Store
.idea/
pkg/
Gemfile.lock
*.swp
*~
.rvmrc
*.pyc
*.pyo

# Ignore the Python package files.
core/site-packages/pre_build/*
core/site-packages/pre_install/*

# Keep these files.
!.gitkeep
